// Navigation Styles here

.container{

    header{
        nav{
            .displayFlex(flex; space-between; center);
            .border-bottom(3px; dotted; grey);
            margin-top:4%;
            padding-bottom:3%;
            @media @mobile{
                    .displayFlex(flex; center;center);
                    flex-flow:row wrap;
                    
                }
            .nav-items{
                width:80%;
                .displayFlex(flex;flex-end;center);
                @media @mobile{
                    .displayFlex(flex; space-around;center);
                    flex-flow:row wrap;
                    width:100%;

                    
                }
                }
                .funfun{
                    width:40%;
                    @media @mobile{
                    width:100%;
                    .displayFlex(flex;center;center);
                    margin-bottom:3%;
                }
            }
            
            a{
                text-decoration: none;
                color:@font-color;
                margin-left:10%;
                font-size:1.5rem;
               
                
            }//closes a
        }//closes nav
    }
}